<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th th:text="Id" />
        <th th:text="Nome" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente, iStat : ${clientePage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${cliente.idCliente}" />
        <td th:text="${cliente.nomeCliente}" />
    </tr>
    </tbody>
</table>
<div th:if="${clientePage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/cliente/exibe(size=${clientePage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==clientePage.number + 1} ? active"></a>
</div>

</body>
</html>